#imgur-viewer-images {
    text-align: center;
}

.imgur-viewer-image {
    padding: 1%;
}

body {
    background-color: #333;
}

#footer-separator {
    margin: 1em;
}

#footer {
    color: #fff;
    text-align: right;
    margin: 1em;
}

a {
    color: #fff;
}

a:link {
    text-decoration : none;
}
a:visited {
    text-decoration : none;
}
a:hover {
    text-decoration : underline;
}
a:active {
    text-decoration : underline;
}
